$text-color: #FFFFFF
$margin-size: 5px
$card-width: 30%

body
	background-color: #AAAAAA

.mdl-card
	width: $card-width
	opacity: 0.5
	background-color: #000080

.mdl-card > .mdl-card__title
	color: $text-color

.mdl-card > .mdl-card__supporting-text
	color: $text-color

.left-card-wide,
.right-card-wide
	position: absolute
	top: $margin-size


.left-card-wide
	left: $margin-size

.right-card-wide
	right: $margin-size

p
	line-height: 0.2

img
	opacity: 0.7
	width: 50%
	align-self: center
